# Исключение виртуального окружения
venv/

# Исключение скомпилированных Python-файлов
*.pyc

# Исключение директорий с кешем Python
__pycache__/

# Исключение файлов окружения
.env

# Исключение базы данных пользователей
users.db